@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: rgb(187 195 255);
    --md-sys-color-surface-tint: rgb(187 195 255);
    --md-sys-color-on-primary: rgb(0 29 147);
    --md-sys-color-primary-container: rgb(63 84 206);
    --md-sys-color-on-primary-container: rgb(215 218 255);
    --md-sys-color-secondary: rgb(188 195 249);
    --md-sys-color-on-secondary: rgb(38 45 89);
    --md-sys-color-secondary-container: rgb(60 67 113);
    --md-sys-color-on-secondary-container: rgb(171 178 231);
    --md-sys-color-tertiary: rgb(252 170 255);
    --md-sys-color-on-tertiary: rgb(88 0 100);
    --md-sys-color-tertiary-container: rgb(149 57 160);
    --md-sys-color-on-tertiary-container: rgb(255 204 253);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(18 19 26);
    --md-sys-color-on-background: rgb(227 225 236);
    --md-sys-color-surface: rgb(18 19 26);
    --md-sys-color-on-surface: rgb(227 225 236);
    --md-sys-color-surface-variant: rgb(69 70 84);
    --md-sys-color-on-surface-variant: rgb(197 197 214);
    --md-sys-color-outline: rgb(143 143 159);
    --md-sys-color-outline-variant: rgb(69 70 84);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(227 225 236);
    --md-sys-color-inverse-on-surface: rgb(47 48 56);
    --md-sys-color-inverse-primary: rgb(60 81 203);
    --md-sys-color-primary-fixed: rgb(222 224 255);
    --md-sys-color-on-primary-fixed: rgb(0 15 93);
    --md-sys-color-primary-fixed-dim: rgb(187 195 255);
    --md-sys-color-on-primary-fixed-variant: rgb(31 55 179);
    --md-sys-color-secondary-fixed: rgb(222 224 255);
    --md-sys-color-on-secondary-fixed: rgb(15 23 67);
    --md-sys-color-secondary-fixed-dim: rgb(188 195 249);
    --md-sys-color-on-secondary-fixed-variant: rgb(60 67 113);
    --md-sys-color-tertiary-fixed: rgb(255 214 252);
    --md-sys-color-on-tertiary-fixed: rgb(54 0 62);
    --md-sys-color-tertiary-fixed-dim: rgb(252 170 255);
    --md-sys-color-on-tertiary-fixed-variant: rgb(119 25 131);
    --md-sys-color-surface-dim: rgb(18 19 26);
    --md-sys-color-surface-bright: rgb(56 57 65);
    --md-sys-color-surface-container-lowest: rgb(13 14 21);
    --md-sys-color-surface-container-low: rgb(26 27 35);
    --md-sys-color-surface-container: rgb(30 31 39);
    --md-sys-color-surface-container-high: rgb(41 41 49);
    --md-sys-color-surface-container-highest: rgb(52 52 60);
  }
}
