@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';
@import './theme.css';
/* @import './gruvbox-combined.css'; */
@import './rose-pine-combined.css';
@import './8-bit-loader.css';
@import './dice-spinner.css';
@import './pacman.css';
@import 'tw-animate-css';
@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:is(.dark *)); */

body {
  font-family: 'Lato', sans-serif;
}

pre {
  overflow: auto;
  padding: 1rem;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

p {
  letter-spacing: 2%;
  line-height: 1.75;
}

.copied {
  display: none;
}

.no-tailwind *:not(.keep-tailwind):not(.keep-tailwind *) {
  all: revert;
}

.backdrop-blur-lg {
  -webkit-backdrop-filter: blur(16px) !important;
}
