:root {
  --background: oklch(0.9927 0.0041 301.4269);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.9283 0.2173 123.8973);
  --primary-foreground: oklch(0.3031 0.0603 121.2162);
  --secondary: oklch(0.9551 0 0);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.9628 0.0546 131.0826);
  --accent-foreground: oklch(0.3031 0.0603 121.2162);
  --destructive: oklch(0.7594 0.1435 26.0785);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9067 0 0);
  --ring: oklch(0.9283 0.2173 123.8973);
  --chart-1: oklch(0.8947 0.0604 227.7684);
  --chart-2: oklch(0.8952 0.0504 146.0366);
  --chart-3: oklch(0.8857 0.0622 38.1312);
  --chart-4: oklch(0.8427 0.0527 301.2895);
  --chart-5: oklch(0.9739 0.0682 102.1886);
  --sidebar: oklch(0.9816 0.0017 247.839);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.9283 0.2173 123.8973);
  --sidebar-primary-foreground: oklch(0.3031 0.0603 121.2162);
  --sidebar-accent: oklch(0.9417 0.0052 247.879);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.9109 0.007 247.9014);
  --sidebar-ring: oklch(0.9283 0.2173 123.8973);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.85rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 17.5px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.14;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.07);
  --shadow-sm: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 1px 2px -5px hsl(0 0% 0% / 0.14);
  --shadow: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 1px 2px -5px hsl(0 0% 0% / 0.14);
  --shadow-md: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 2px 4px -5px hsl(0 0% 0% / 0.14);
  --shadow-lg: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 4px 6px -5px hsl(0 0% 0% / 0.14);
  --shadow-xl: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 8px 10px -5px hsl(0 0% 0% / 0.14);
  --shadow-2xl: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.35);
  --tracking-normal: 0em;
  --spacing: 0.23rem;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.235 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2645 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.9283 0.2173 123.8973);
  --primary-foreground: oklch(0.3031 0.0603 121.2162);
  --secondary: oklch(0.2931 0 0);
  --secondary-foreground: oklch(0.9067 0 0);
  --muted: oklch(0.2645 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.3568 0.0336 119.5306);
  --accent-foreground: oklch(0.9067 0 0);
  --destructive: oklch(0.6396 0.1336 10.2285);
  --destructive-foreground: oklch(0.1822 0 0);
  --border: oklch(0.3211 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.9283 0.2173 123.8973);
  --chart-1: oklch(0.8308 0.0969 229.0908);
  --chart-2: oklch(0.8292 0.0827 145.8169);
  --chart-3: oklch(0.8169 0.106 37.9385);
  --chart-4: oklch(0.7373 0.0909 300.4624);
  --chart-5: oklch(0.9588 0.1093 102.632);
  --sidebar: oklch(0.235 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.9283 0.2173 123.8973);
  --sidebar-primary-foreground: oklch(0.3031 0.0603 121.2162);
  --sidebar-accent: oklch(0.2931 0 0);
  --sidebar-accent-foreground: oklch(0.9067 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.9283 0.2173 123.8973);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.85rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 17.5px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.14;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.07);
  --shadow-sm: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 1px 2px -5px hsl(0 0% 0% / 0.14);
  --shadow: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 1px 2px -5px hsl(0 0% 0% / 0.14);
  --shadow-md: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 2px 4px -5px hsl(0 0% 0% / 0.14);
  --shadow-lg: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 4px 6px -5px hsl(0 0% 0% / 0.14);
  --shadow-xl: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.14), 0px 8px 10px -5px hsl(0 0% 0% / 0.14);
  --shadow-2xl: 0px 8px 17.5px -4px hsl(0 0% 0% / 0.35);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
